body {
  background-color: rgb(236, 220, 250);
  .roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
  }
  header {
    border-bottom: 1px solid rgb(208, 205, 205);
    padding: 0 0 30px 0;
  }

  .weather-container {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
  }
  .search-input {
    background-color: rgb(236, 220, 250);
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
  }
  .search-button {
    background-color: blueviolet;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: white;
    margin-left: 5px;
  }
  .city {
    margin: 0px;
    font-size: 38px;
    line-height: 48px;
  }
  .current-weather {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .current-weather strong {
    color: rgb(253, 81, 110);
  }
}
main {
  padding: 30px;
}

footer {
  border-top: 1px solid rgb(208, 205, 205);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.weather {
  display: flex;
  justify-content: space-between;
}
.weather-app-info {
  display: flex;
}
.weather-unit {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.weather-metric {
  margin-top: 10px;
  font-size: 28px;
}
